<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TexnovaMae_Hilatura.My.MySettings.ConnectionString"
            connectionString="Dsn=GUPTA;db=SICP;srvr=192.11.11.3;uid=LOTES;isolevel=RL"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
</configuration>